libcurl4-openssl-dev
libssl-dev
libxml2-dev
libmariadb-dev
libpq-dev
libudunits2-dev
libgdal-dev
libgeos-dev
libproj-dev
libcairo2-dev
libxt-dev
libmagickpp-dev
libharfbuzz-dev
libfribidi-dev
libfreetype6-dev
libtiff5-dev
libjpeg-dev
libpng-dev
pandoc
